
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Mundo-Sans-Italic-Bold";
    src: url("../fonts/Mundo Sans Std Bold Italic.otf");
}

body{
    background-color: #e5e5e5;
}

.base{
    width: 100vw;
    height: 100vh;
}

#root{
    margin-left: 35px;
}

.col-sm-12{
    margin: 12px 40px;
    height: 28vh;
    border-radius: 13px;
    box-shadow: -10px 10px 0px rgba(183,183,183,.8);
    z-index: -1;

}

.col-sm-1{
    height: calc(84vh + 48px);
    margin-right: -22px;
    margin-top: 12px;
    position: relative;
}

.quadro-imagens{
    margin: 12px;
    background-color: white;
    position: absolute;
    right: 15%;
    z-index: 9999;
    border-radius: 13px;
    box-shadow: -10px 10px 0px rgba(16,12,2,.3);
    height: calc(84% + 48px);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


.personagens{
    background-color: #14bdc6;
}

.movimentos{
    background-color: #cc15cc;
}

.objetos{
    background-color: #dda210;
}

.title{
    transform: rotate(270deg);
    width: 115px;
    position: absolute;
    right: -52px;
    font-family: "Mundo-Sans-Italic-Bold";
    font-size: 1.2em;
}


.title-personagem{
    color: #14bdc6;
    top: calc(4% + 12px);
}

.title-movimentos{
    color: #cc15cc;
    top: calc(37% + 24px);
    font-size: 1.1em;
}

.title-objetos{
  color: #dda210;
  top: calc(65% + 36px);
}

.botoes{
    width: 300px;
    height: 80px;
    position: relative;
}

.bton:hover{
    opacity: 0.5;
}
.bton{
    width: 506px;
    height: 506px;
    transform: scale(.185);
    position: absolute;
    bottom: -250px;
    cursor: pointer;
}

.btn-rotacionar{
    background: url("../img/botoes/rotacionar.png") no-repeat;
    right: -34px;
}

.btn-aumentar{
    background: url("../img/botoes/aumentar.png") no-repeat;
    right: -127px;
}

.btn-diminuir{
    background: url("../img/botoes/diminuir.png") no-repeat;
    right: -218px;
}

.elemento{
    width: 70%;
    cursor: pointer !important;
    opacity: 0.5;
    padding-top: 5px;
    margin-left: -14px;
}
 
.btn-saiba-mais{
    background: url("../img/botoes/saiba_mais1.png") no-repeat;
    right: -172px;
    top: -208px;
    
}

.btn-jpg{
    background: url("../img/botoes/jpeg_on.png") no-repeat;
    right: -121px;
    bottom: 64px;  
}

.btn-salvar{
    background: url("../img/botoes/salvar.png") no-repeat;
    right: -442px;
    bottom: -122px;
    width: 1108px;
    height: 517px;
    transform: scale(.15);
}

.btn-gif{
    background: url("../img/botoes/gif_on.png") no-repeat; 
    right: -183px;
    bottom: 64px; 
}

.btn-elemento:hover{
    opacity: 1.0;
}

.btn-elemento{
    z-index: 9999;
}
